footer {
    margin: 20px 0;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    margin-bottom: 20px;
    h3 {
        margin-bottom: 20px;
    }
    .footer_info {
        display: flex;
        width: 300px;
        img {
            width: $width_three;
            margin-right: 10px;
        }
        strong {
            color: $color_one;
        }
    }
    .product,
    .about,
    .connect,
    .lobs,
    .blog {
        li {
            @include footer_li;
        }
        margin: 0 20px;
        width: $width_four;
    }
}