header {
    .header_stuff {
        @include flex_one;
    }
    margin-bottom: 20px;
    .nav {
        ul {
            display: flex;
            align-items: center;
            li {
                @include nav;
                button {
                    cursor: pointer;
                    border-radius: 5px;
                    img {
                        margin-right: 5px;
                    }
                }
            }    
        }
    } 
}