$color_one: #0414B3;
$color_two: #7F14D4;
$color_three: #0E14EE;
$color_four: #3E14E9;

$font_size_one: 13px;

$width_one: 400px;
$width_two: 700px;
$width_three: 100px;
$width_four: 125px;
$width_five: 300px;